/* Main application */
.app{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}
#leftPart{

}
#rightPart{
  background-color: rgb(222, 228, 232);
  display: grid;
}

/* product list */
.productList{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
}

@media(max-width:900px){
  .productList{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
  }
}

@media(max-width:540px){
  .productList{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}


/* header */
.header{
  background-color: rgb(206, 206, 159);
}

.header p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large ;
}

/* Shopping cart */

.shoppingCart{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shoppingCartItem{
  
}

.quantity,
.totalPrice,
.removeItem {
  display: flex;
  align-items: center;
}

.quantity {
  gap: 8px;
}

.totalPrice {
  text-align: right;
}

@media(max-width:500px){
  .quantity,
.totalPrice{
  display: block;
}
}